.charis-sil-bold {
  font-family: "Charis SIL", serif;
  font-weight: 700;
  font-style: normal;
}


body{
    background-color: #EDE7DE;
    margin: 0;
}

nav{
    background-color: rgba(247, 243, 243, 0.5);
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 90px;
    margin: 10px 10px;
    border-radius: 50px;
}

ul{
    padding-left: 0%;
    display: flex;
    justify-content: space-around;
    width: 90%;

}
li{
    list-style: none;
    display: flex;
    font-family: "Charis SIL";
    
}

a{
    color: blueviolet;
    text-decoration: none;
}

#name{
    font-family: "Charis SIL";
    color: red;
    display: flex;
    font-size: 30px;
}

#AboutMe{
    font-family: "Charis SIL";
    display: flex;
}



#profile{
    height: 225px;
    width: 233px;
    border-radius: 10px;
    margin: 30px 30px;
    text-align: left;
}

#AboutMe-Experience{
    display: flex;
    margin: 15px 15px;
    text-align: justify;
}


#Home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

li:hover{
    margin: 5px;
    border-radius: 50px;
    outline: 3px dashed red;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "Charis SIL";
    border-radius: 5px;
    margin: auto 250px;
    background-color: rgb(247, 243, 243);
    outline: 5px solid rgb(225, 225, 225);
}

h3{
    font-family: "Charis SIL";
    color: #025A4E;
    margin: 15px 15px;
    
}

@media screen and (max-width: 680px) {
ul {
width: 90%;
}
h1{
    margin: auto 90px;
}
#Home{
    font-size: 22px;
    font-weight: 500;
}
#profile{
    border-radius: 100px;
    display: flex;
    justify-self: center;
}
h3{
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
#AboutMe-Experience{
    display: flex;
    text-align: center;
    margin: 15px 15px;
}
#AboutMe{
    display: block;
}
}

/* _____Apartado Skills, h1 y h3 usados_____*/

h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Charis SIL";
}

#Skills-Text{
    margin: 15px 15px;
    font-family: "Charis SIL";
}

#Skills-Imgs{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    
}

#Skills-Imgs img{
    height: 120px;
}
@media screen and (max-width: 680px){
#Skills-Imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    
}

#Skills-Imgs img{
    display: flex;
    height: 120px;
    margin: auto;
}

}

/* _____ Apartado Projects_____ */

#Project1{
outline: 6px solid rgb(252, 148, 179);
background-color: rgb(248, 178, 199);
font-family: "Charis SIL";
margin: 50px 50px;
border-radius: 10px;
text-align: center;
font-size: 34px;
}

#SanValentine{
    color: red;
    font-size: 40px;
}

#SanValentineText{
    font-size: 36px;
}

@media screen and (max-width: 680px){
#Project1{
    font-size: 25px;
    text-align: center;
}

#SanValentineText{
    font-size: 26px;
    
}
}

/* ___Apartado Contacto y footer___ */

footer{
    background-color: rgb(247, 243, 243);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    border-radius: 50px;
}

footer img{
    height: 120px;
}
/* Proxima clase: 
Hacer que el menu superior (Home, About, Skills...) pase al lado derecho de la pantalla, excepto en movil*/